[Unit]
Description=Koji Control Plane
After=network.target

[Service]
Type=simple

User=koji
Group=koji

ExecStart=/usr/bin/kojid

Restart=on-failure
RestartSec=5

WorkingDirectory=/

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
LockPersonality=true
MemoryDenyWriteExecute=true

ReadWritePaths=/var/lib/koji
RuntimeDirectory=koji

[Install]
WantedBy=multi-user.target
